<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
3
<head>
4
<title>Spring Boot Rest API with AJAX</title> 5
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
6 7
<meta charset="UTF-8">
8
<meta name="viewport" content="width=device-width, initial-scale=1">
9 10
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	11 integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
12
</head>
13
<body>
	14
	<div class="container" style="min-height: 500px">
		15
		<div class="starter-template">
			16
			<h1>Spring Boot Rest API with AJAX Example</h1>
			17 <img id="images" src="" alt=" profile" width="100" /> 18
			<div id="profile"></div>
			19
			<button id="logout">Logout</button>
			20
		</div>
		21
	</div>
	22
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		23 integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtAxwXM"
		crossorigin="anonymous"></script>
	24
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	25
	<script src="/js/mainjs.js"></script>
	26
</body>
27
</html>